body
{
    background-color:aquamarine;
}
h1{
    font-size:50px;
    text-align:left;
    background-color:red;
}

h2{
    font-size:60px;
  
}

/*Using a style sheet for each catch screen and basically the same one for the ocean catch screens, just color diffeences*/

.GridCon {
    display: grid;
    grid-template-areas: 'header catch catch' 'header catch catch' 'desc desc desc';
    grid-gap: 5px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    background-color: bisque;
    padding: 10px;
}

 .GridCon > div {
        font-size: 26px;
        text-align: center;
        background-color: lightsalmon;
        padding: 10px;
    }

}

.GridItem {
    grid-area: header;
}

.GridItem1 {
    grid-area: catch;
}

.GridItem2 {
    grid-area: desc;
}

/*Used a grid for the layout so it could look uniform with each image and text thrown into it. */