body {
    background-color: blue;
}

h1 {
    font-size: 50px;
    text-align: left;
    background-color: red;
}

h2 {
    font-size: 60px;
}



.GridCon {
    display: grid;
    grid-template-areas: 'header catch catch' 'header catch catch' 'desc desc desc';
    grid-gap: 5px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    background-color: cornflowerblue;
    padding: 10px;
}

    .GridCon > div {
        font-size: 26px;
        text-align: center;
        background-color: mediumslateblue;
        padding: 10px;
    }

}

.GridItem {
    grid-area: header;
}

.GridItem1 {
    grid-area: catch;
}

.GridItem2 {
    grid-area: desc;
}
