body
{
    
    background-color:forestgreen;
}
#Pond {
    top: 0%;
    left: 0%;
    bottom:0%;
    position:absolute;
}

/*Although it is definedwith %, it does not perform how I thought it would. The image does not fit to percentage of the screen as seen when zooming*/
#Side{
    top:75px;
    right:25px;
    left:80%;
    position:absolute;
    background-color: darkslategray;
}

#Fish1 {
    bottom: 140px;
    left: 400px;
    position: absolute;
    animation: BassJump 3s infinite;
}

@keyframes BassJump {
    from {
        bottom:140px;
    }

    to {
        bottom: 200px;
    }
}

/*I learned how to include this type of animation from https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_animation-delay on w3 schools.*/


#Fish2 {
    bottom: 150px;
    left: 600px;
    position: absolute;
}

#Fish3 {
    bottom: 25%;
    left: 3%;
    position: absolute;
}

#Fish4 {
    bottom: 250px;
    left: 823px;
    position: absolute;
}

#Fish5 {
    bottom: 10%;
    left: 69%;
    position: absolute;
}

/*Fish 5 is the bubbles and is defined using % values. Therefore it stays on the exact spot on the screen instead of  pixels. But the % values used with the pond image doesnt share the same attributes and I do not know why
*/

.Ocean {
    color: wheat;
    background-color: darkolivegreen;
   
    font-size: 32px;
}

.Home {
    color: wheat;
    background-color: darkolivegreen;
   
    font-size: 32px;
}

p{
    font-size:24px;
    
}

h1{
   
}

h2{
    background-color:darkolivegreen;
    font-size:40px;
}