body {
    text-align:center;
    background-color:lightgreen;

}
h1{
    font-size:55px;
    background-color:indianred;
}
    
    
 .Ocean
{
    color: wheat;
    background-color: royalblue;
    position: fixed;
    bottom: 50%;
    left: 33%;
    font-size: 32px;
    
}

.Pond {
    color: wheat;
    background-color: forestgreen;
    position: fixed;
    bottom: 50%;
    right: 33%;
    font-size: 32px;
}
