body {
    
    background-color: royalblue;
}

#Ocean {
    top: 0%;
    left: 0%;
    bottom: 0%;
    position: absolute;
}

#Side {
    top: 75px;
    right: 25px;
    left: 80%;
    position: absolute;
    background-color: darkslategray;
}

#Fish1 {
    bottom: 469px;
    left: 0px;
    position: absolute;
    animation: FlyFish 5s infinite;
    

  
}

@keyframes FlyFish {
    from {
        left: -100px;
    }

    to {
        left: 800px;
    }
}

/*I learned how to include this type of animation from https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_animation-delay on w3 schools.*/


#Fish2 {
    bottom: 33px;
    left: 600px;
    position: absolute;
}

#Fish3 {
    bottom: 69%;
    left: 5%;
    position: absolute;
}

#Fish4 {
    bottom: 20px;
    left: 55px;
    position: absolute;
}

#Fish5 {
    bottom: 10%;
    left: 69%;
    position: absolute;
}

.Pond {
    color: wheat;
    background-color: darkolivegreen;
    font-size: 32px;
}

.Home {
    color: wheat;
    background-color: darkolivegreen;
    font-size: 32px;
}

p {
    font-size: 24px;
}

h1 {
}

h2 {
    background-color: darkblue;
    font-size: 40px;
}
