h1{
    text-align:center;
    background-color: darkgoldenrod;
    font-family:Algerian;
    font-size: 32px;
}
body{
    background-color:darkolivegreen;
    font-family:Arial;
    font-size: 30px;
    text-align:center;
}