h1{
    text-align:center;
    background-color:deeppink;
    color:cyan;
    text-decoration:wavy;
    text-decoration-color: white;
   border-bottom-color:black;
   border:double;
   border-bottom-width:10px;
   border-top-width:10px;
}


    body {
        text-align: center;
        background-color: cyan;
    }

    #TW {
        background-color: deeppink;
        text-align: left;
        font-size: 50px;
        max-width: 75%;
        left: 12.5%;
        position: fixed;
        border: thick;
        border-color: black;
        border-width: 5px;
        border-style: solid;
    }

    #Continue {
        background-color: cyan;
        text-align: center;
        font-size: 50px;
        border: thick;
        border-color: white;
        border-width: 2px;
        border-style: solid;
    }

    #Info {
        background-color: deeppink;
        text-align: left;
        font-size: 16px;
        max-width: 50%;
        left: 25%;
        position: relative;
        text-decoration: wavy;
        text-decoration-color: white;
        border-bottom-color: white;
        border: double;
        border-bottom-width: 3px;
        border-top-width: 3px;
        
    }

    .Map {
        left: 10%;
        width: 1000px;
        height: 580px;
        right: 10%;
        text-align: center;
        position: relative;
    }

        .Map .USA {
          
            text-align: center;
      
        }

        .Map .Versace {
            position: absolute;
            left: 82%;
            top: 88%
        }

    .VText {
        display: none;
        position: absolute;
        left: 90%;
        top: 88%;
        background-color: deeppink;
        border: thick;
        border-color: black;
        border-width: 3px;
        border-style: solid;
    }

    .Map .Cunanan {
        position: absolute;
        left: 3%;
        top: 40%
    }

    .CText {
        display: none;
        position: absolute;
        left: -8%;
        top: 40%;
        background-color: deeppink;
        border: thick;
        border-color: black;
        border-width: 3px;
        border-style: solid;
    }

    .Map .Cunanan2 {
        position: absolute;
        left: 9%;
        top: 60%
    }

    .C2Text {
        display: none;
        position: absolute;
        left: 1%;
        top: 60%;
        background-color: deeppink;
        border: thick;
        border-color: black;
        border-width: 3px;
        border-style: solid;
    }

    .Map .Miglin {
        position: absolute;
        left: 62%;
        top: 32%;
    }

    .MText {
        display: none;
        position: absolute;
        left: 67%;
        top: 32%;
        background-color: deeppink;
        border: thick;
        border-color: black;
        border-width: 3px;
        border-style: solid;
    }

    .Map .Trail {
        position: absolute;
        left: 53%;
        top: 22%
    }

    .TText {
        display: none;
        position: absolute;
        left: 59%;
        top: 22%;
        background-color: deeppink;
        border: thick;
        border-color: black;
        border-width: 3px;
        border-style: solid;
    }

    .Map .Madson {
        position: absolute;
        left: 53%;
        top: 13%
    }

    .MSText {
        display: none;
        position: absolute;
        left: 59%;
        top: 13%;
        background-color: deeppink;
        border: thick;
        border-color: black;
        border-width: 3px;
        border-style: solid;
    }

    .Map .Reece {
        position: absolute;
        left: 85%;
        top: 35%
    }

    .RText {
        display: none;
        position: absolute;
        left: 90%;
        top: 35%;
        background-color: deeppink;
        border: thick;
        border-color: black;
        border-width: 3px;
        border-style: solid;
    }
