h1{
    text-align:center;
    background-color:deeppink;
    color:cyan;
    text-decoration:wavy;
    text-decoration-color: white;
   border-bottom-color:black;
   border:double;
   border-bottom-width:10px;
   border-top-width:10px;
}
@media screen and (min-width: 1000px) {

    body {
        text-align: center;
        background-color: cyan;
    }

    #TW {
        background-color: deeppink;
        text-align: left;
        font-size: 50px;
        max-width: 75%;
        left: 12.5%;
        position: fixed;
        border: thick;
        border-color: black;
        border-width: 5px;
        border-style: solid;
    }

    #Continue {
        background-color: cyan;
        text-align: center;
        font-size: 50px;
        border: thick;
        border-color: white;
        border-width: 2px;
        border-style: solid;
    }

    #Info {
        background-color: deeppink;
        text-align: left;
        font-size: 16px;
        max-width: 50%;
        left: 25%;
        position: relative;
        text-decoration: wavy;
        text-decoration-color: white;
        border-bottom-color: white;
        border: double;
        border-bottom-width: 3px;
        border-top-width: 3px;
        
    }

    .Map {
        left: 10%;
        width: 80%;
        height: 60%;
        right: 10%;
        text-align: center;
        position: absolute;
    }

        .Map .USA {
           
            text-align: center;
      
        }

        .Map .Versace {
            position: absolute;
            left: 81%;
            top: 140%
        }

    .VText {
        display: none;
        position: absolute;
        left: 90%;
        top: 140%;
        background-color: deeppink;
        border: thick;
        border-color: black;
        border-width: 3px;
        border-style: solid;
    }

    .Map .Cunanan {
        position: absolute;
        left: 3%;
        top: 65%
    }

    .CText {
        display: none;
        position: absolute;
        left: -8%;
        top: 65%;
        background-color: deeppink;
        border: thick;
        border-color: black;
        border-width: 3px;
        border-style: solid;
    }

    .Map .Cunanan2 {
        position: absolute;
        left: 9%;
        top: 95%
    }

    .C2Text {
        display: none;
        position: absolute;
        left: 1%;
        top: 95%;
        background-color: deeppink;
        border: thick;
        border-color: black;
        border-width: 3px;
        border-style: solid;
    }

    .Map .Miglin {
        position: absolute;
        left: 62%;
        top: 52%;
    }

    .MText {
        display: none;
        position: absolute;
        left: 67%;
        top: 52%;
        background-color: deeppink;
        border: thick;
        border-color: black;
        border-width: 3px;
        border-style: solid;
    }

    .Map .Trail {
        position: absolute;
        left: 53%;
        top: 37%
    }

    .TText {
        display: none;
        position: absolute;
        left: 59%;
        top: 37%;
        background-color: deeppink;
        border: thick;
        border-color: black;
        border-width: 3px;
        border-style: solid;
    }

    .Map .Madson {
        position: absolute;
        left: 53%;
        top: 25%
    }

    .MSText {
        display: none;
        position: absolute;
        left: 59%;
        top: 25%;
        background-color: deeppink;
        border: thick;
        border-color: black;
        border-width: 3px;
        border-style: solid;
    }

    .Map .Reece {
        position: absolute;
        left: 85%;
        top: 58%
    }

    .RText {
        display: none;
        position: absolute;
        left: 90%;
        top: 58%;
        background-color: deeppink;
        border: thick;
        border-color: black;
        border-width: 3px;
        border-style: solid;
    }

}